li {
  color: red;
}

.smurf {
  color: blue;
}

.purpley {
  color: purple;
}

.smurf.purpley {
  color: green;
}

.centered {
  font-size: 24px;
  color: red;
  margin: 10px;
  padding: 25px;
  text-align: left;
  width: 400px;
  border: solid 2px rebeccapurple;
}

.blocky {
  display: inline-block;
}